<form [formGroup]="detailForm" (ngSubmit)="createOrUpdate()" fxLayout="column">
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field class="detail_full_width">
      <input
        matInput
        formControlName="name"
        color="warn"
        [value]="dataEdit?.data?.name"
        [placeholder]="'Thêm tiêu đề'"
      />
      <mat-error *ngIf="detailForm.hasError('required')"
        >Please add a title</mat-error
      >
    </mat-form-field>
    <mat-form-field class="detail_full_width">
      <input
        matInput
        formControlName="phone"
        color="warn"
        [value]="dataEdit?.data?.phone"
        [placeholder]="'Thêm số điện thoại'"
      />
      <mat-error *ngIf="detailForm.hasError('required')"
        >Please add a phone</mat-error
      >
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field class="detail_full_width" fxFlex="50">
      <mat-label *ngIf="!dataEdit?.data.category.name">Chọn danh mục</mat-label>
      <mat-label *ngIf="dataEdit?.data.category.name !== undefined">{{
        dataEdit?.data.category.name
      }}</mat-label>
      <mat-select formControlName="category">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category._id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="detail_full_width" fxFlex>
      <input
        matInput
        formControlName="keywords"
        color="warn"
        [value]="dataEdit?.data?.keywords"
        [placeholder]="'Thêm từ khóa'"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="detail_full_width">
      <mat-chip-list
        #chipList
        aria-label="img selection"
        formControlName="images"
      >
        <mat-chip
          *ngFor="let img of arrImage.value"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="removeImg(img)"
        >
          {{ img | Overflow: ["5", "..."] }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          [placeholder]="'Thêm list hình ảnh'"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addImg($event)"
        />
      </mat-chip-list>
    </mat-form-field>
  </div>

  <div>
    <!-- <quill-editor #editor formControlName="content"> </quill-editor> -->
    <angular-editor formControlName="content" [config]="editorConfig">
    </angular-editor>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field class="detail_full_width" fxFlex="50">
      <input
        matInput
        type="text"
        [value]="dataEdit?.data?.description"
        formControlName="description"
        [placeholder]="'Thêm mô tả'"
      />
    </mat-form-field>
    <mat-form-field class="detail_full_width" fxFlex="25">
      <input
        matInput
        type="text"
        OnlyNumber="true"
        [value]="dataEdit?.data?.price"
        formControlName="price"
        [placeholder]="'Thêm giá từ'"
      />
    </mat-form-field>
    <mat-form-field class="detail_full_width" fxFlex="25">
      <input
        matInput
        [placeholder]="'Thêm hình ảnh(bìa)'"
        [value]="dataEdit?.data?.image"
        formControlName="image"
      />
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field class="detail_full_width">
      <input
        matInput
        type="text"
        formControlName="address"
        [value]="dataEdit?.data?.address"
        [placeholder]="'Thêm địa chỉ'"
      />
    </mat-form-field>
    <mat-form-field class="detail_full_width">
      <input
        matInput
        type="text"
        formControlName="video"
        [value]="dataEdit?.data?.video"
        [placeholder]="'Thêm id video youtute'"
      />
    </mat-form-field>
  </div>

  <div fxLayoutGap="10px">
    <mat-slide-toggle
      formControlName="status"
      [checked]="dataEdit?.data?.status"
    >
      Bật/tắt trạng thái</mat-slide-toggle
    >
    <mat-checkbox
      formControlName="isPopular"
      [checked]="dataEdit?.data?.isPopular"
      >Entertain nổi bật</mat-checkbox
    >
    <button
      type="submit"
      [disabled]="detailForm.invalid"
      mat-stroked-button
      color="warn"
      class="btn-block"
    >
      Submit
    </button>
  </div>
</form>
