<div class="detail_wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="box">
    <form
      class="detail_form"
      [formGroup]="detailForm"
      (ngSubmit)="createOrUpdate()"
    >
      <mat-card-content>
        <mat-form-field class="detail_full_width">
          <input
            matInput
            formControlName="title"
            color="warn"
            placeholder="Thêm tên reviews"
          />
        </mat-form-field>
        <mat-form-field class="detail_full_width">
          <input
            matInput
            formControlName="image"
            color="warn"
            placeholder="Thêm anh"
          />
        </mat-form-field>
        <mat-form-field *ngIf="data._id === null">
          <mat-label>Chọn loại quảng cáo</mat-label>
          <mat-select formControlName="category" required>
            <mat-option>--</mat-option>
            <mat-option
              *ngFor="let category of categorys"
              [value]="category._id"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="detailForm.hasError('required')"
            >Please choose an category</mat-error
          >
        </mat-form-field>
        <mat-form-field class="detail_full_width">
          <input
            matInput
            type="text"
            formControlName="link"
            placeholder="Nhập số link qc"
          />
        </mat-form-field>
        <mat-form-field class="detail_full_width">
          <input
            matInput
            type="text"
            formControlName="description"
            placeholder="Thêm mô tả"
          />
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="warn" class="btn-block">
        Submit
      </button>
    </form>
  </div>
</div>
