.image_dialog {
  width: 800px;
  height: 800px;
  margin: 10px;
  //   border: 1px solid #000000;
}
.viewport {
  height: 800px;
  width: 800px;
  //   border: 1px solid black;
}

.image_item {
  height: 50px;
}

.left_side {
  padding-right: 15px;
}
