<app-layout>
  <div *ngIf="isLoggin">
    <mat-sidenav-container class="example-container">
      <mat-sidenav class="sidenav" [fixedInViewport]="true" [mode]="'side'" opened fxFlex="30" class="left-nav">
        <app-side-bar></app-side-bar>
      </mat-sidenav>
      <mat-sidenav-content fxFlexAlign="center" class="side_content" fxFLex fxLayout="column">
        <app-header-breabcrumb></app-header-breabcrumb>
        <app-main-area class="main_area"></app-main-area>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

</app-layout>
<app-layout *ngIf="!isLoggin">
  <app-login></app-login>
</app-layout>
