<form [formGroup]="detailForm" (ngSubmit)="createOrUpdate()" fxLayout="column">
  <div>
    <mat-form-field class="detail_full_width">
      <input
        matInput
        formControlName="title"
        color="warn"
        [placeholder]="isEdit === true ? dataEdit.data.title : 'Thêm tiêu đề'"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="detail_full_width">
      <mat-label>Chọn loại reviews</mat-label>
      <mat-select formControlName="category" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category._id">
          {{ category.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="detailForm.hasError('required')"
        >Please choose an category</mat-error
      >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="detail_full_width">
      <mat-chip-list
        #chipList
        aria-label="img selection"
        formControlName="images"
      >
        <mat-chip
          *ngFor="let img of arrImage.value"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="removeImg(img)"
        >
          {{ img }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          [placeholder]="
            isEdit === true
              ? (dataEdit.data.images | Overflow: ['10', '...'])
              : 'Thêm mô tả'
          "
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addImg($event)"
        />
      </mat-chip-list>
    </mat-form-field>
  </div>

  <div>
    <angular-editor
      [ngModel]="dataEdit?.data?.content | sanitizeHtml"
      formControlName="content"
      [config]="editorConfig"
    ></angular-editor>
  </div>
  <div>
    <mat-form-field class="detail_full_width">
      <input
        matInput
        type="text"
        formControlName="description"
        [placeholder]="
          isEdit === true ? dataEdit.data.description : 'Thêm mô tả'
        "
      />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="detail_full_width">
      <input
        matInput
        type="text"
        formControlName="address"
        [placeholder]="isEdit === true ? dataEdit.data.address : 'Thêm địa chỉ'"
      />
    </mat-form-field>
  </div>

  <div>
    <mat-slide-toggle formControlName="status" [ngModel]="isEdit">
      Bật/tắt trạng thái</mat-slide-toggle
    >
    <button
      type="submit"
      [disabled]="detailForm.invalid"
      mat-stroked-button
      color="warn"
      class="btn-block"
    >
      Tạo reviews
    </button>
  </div>
</form>
