<div class="detail_wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="box">
    <form
      class="detail_form"
      [formGroup]="detailForm"
      (ngSubmit)="createOrUpdate()"
    >
      <mat-card-content>
        <mat-form-field class="detail_full_width">
          <input
            matInput
            formControlName="title"
            color="warn"
            placeholder="Thêm tên reviews"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Chọn loại reviews</mat-label>
          <mat-select formControlName="category" required>
            <mat-option>--</mat-option>
            <mat-option
              *ngFor="let category of categories"
              [value]="category._id"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="detailForm.hasError('required')"
            >Please choose an category</mat-error
          >
        </mat-form-field>
        <mat-form-field class="example-chip-list">
          <mat-chip-list
            #chipList
            aria-label="img selection"
            formControlName="images"
          >
            <mat-chip
              *ngFor="let img of arrImage.value"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="removeImg(img)"
            >
              {{ img }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="nhập vào ảnh"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="addImg($event)"
            />
          </mat-chip-list>
        </mat-form-field>

        <ckeditor formControlName="content" [editor]="Editor"></ckeditor>

        <mat-form-field class="detail_full_width">
          <input
            matInput
            type="text"
            formControlName="description"
            placeholder="Thêm mô tả reviews"
          />
        </mat-form-field>

        <mat-form-field class="detail_full_width">
          <input
            matInput
            type="text"
            formControlName="address"
            placeholder="Nhập Địa chỉ"
          />
        </mat-form-field>
      </mat-card-content>
      <button
        mat-stroked-button
        color="warn"
        (click)="close()"
        class="btn-block"
      >
        Submit
      </button>
    </form>
  </div>
</div>
